extends ../layout

block content
  div.container
    h1= title
    table(class="admin-article-list")
      tr
        th Название статьи
        th Обновить статью
        th Удалить статью
      each item in posts
        tr
          td=item.title
          td
            a(href=`/admin/post/update/${item._id}`) Обновить
          td
            a(href=`/admin/post/delete/${item._id}`) Удалить
    ul(class="pagination")
      -let i = 1;
      li(class="pagination__item")
          a(href=`/admin/post/list/1`, class="pagination__link") В начало
      while i <= pages
        li(class="pagination__item")
          a(href=`/admin/post/list/${i}`, class="pagination__link")=i++
      li(class="pagination__item")
          a(href=`/admin/post/list/${pages}`, class="pagination__link") В конец